//@theme "~/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"
//@theme "/home/hisacro/.local/share/rofi/themes/deep-purple.rasi"
@theme "/home/hisacro/.local/share/rofi/themes/arc_dark_colors.rasi"
